<div class="modal fade" id="editBannerModal" tabindex="-1" role="dialog" aria-labelledby="editBannerModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <div class="col-md-4">
            <h4 class="modal-title">

            </h4>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="alert alert-info fade in" role="alert" ng-show="success">{{ success }}</div>
        <div class="alert alert-block alert-danger fade in" role="alert" ng-show="errors.length > 0">
          <span ng-repeat="err in errors">
            {{ err }}<br/>
          </span>
        </div>
        <div class="row">
          <form role="form" class="row form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label">ブログ</label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="ブログ" ng-model="banner.blog_id">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">ブログPR</label>
              <div class="col-md-6">
                <textarea class="form-control textarea" rows="10" ng-model="banner.blog_pr_text"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">ランディングページ</label>
              <div class="col-md-6">
                <input type="text
                " class="form-control" placeholder="ランディングページ" ng-model="banner.lp_url">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">画像</label>
              <div class="col-md-6">
                <img ng-src="{{banner.image}}" alt="画像" ng-if="!!banner.image && !!banner" width="80%"/></br/></br/>
                <input type="text" class="form-control" placeholder="画像" ng-model="banner.image">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save(banner)">Save</button>
      </div>
    </div>
  </div>
</div>
