<div class="modal fade" id="editBannerModal" tabindex="-1" role="dialog" aria-labelledby="editBannerModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="row">
          <div class="col-md-4">
            <h4 class="modal-title">

            </h4>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="alert alert-info fade in" role="alert" ng-show="success">{{ success }}</div>
        <div class="alert alert-block alert-danger fade in" role="alert" ng-show="errors.length > 0">
          <span ng-repeat="err in errors">
            {{ err }}<br/>
          </span>
        </div>
        <div class="row">
          <form role="form" class="row form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label">Banner Type</label>
              <div class="col-md-6">
                <select ng-model="bannerType" ng-options="k*1 as v for (k, v) in MASTERS.banner_types" class="form-control"></select>
              </div>
            </div>
            <div class="form-group" ng-if="isBannerBlog();">
              <label class="col-md-4 control-label">ブログ</label>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="ブログ" ng-model="banner.blog_id">
              </div>
            </div>
            <div class="form-group" ng-if="isBannerBlog();">
              <div class="col-md-5 col-md-offset-1">
                <input ng-model="search.title_cont" type="text" class="form-control" placeholder="ブログタイトル">
              </div>
              <div class="col-md-3">
                <select ng-model="search.blog_category_id" ng-options="k*1 as v for (k, v) in MASTERS.blog_categories" class="form-control"></select>
              </div>
              <div class="col-md-2"><button ng-click="search()" class="btn btn-primary">検索</button></div>
              <div ng-if="!!result" class="col-md-8 col-md-offset-1">
                <hr/>
                <table class="table">
                  <tr ng-repeat="res in result">
                    <td>{{res.title}}</td>
                    <td>{{res.blog_category_id}}</td>
                    <td><button class="btn btn-primary" ng-click="setBlogId(res.id)">設定</button></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">ブログPR</label>
              <div class="col-md-6">
                <textarea class="form-control textarea" rows="10" ng-model="banner.blog_pr_text"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">ランディングページ</label>
              <div class="col-md-6">
                <input type="text
                " class="form-control" placeholder="ランディングページ" ng-model="banner.lp_url">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">画像</label>
              <div class="col-md-6">
                <img ng-src="{{banner.image}}" alt="画像" ng-if="!!banner.image && !!banner" width="80%"/></br/></br/>
                <input type="text" class="form-control" placeholder="画像" ng-model="banner.image">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save(banner)">Save</button>
      </div>
    </div>
  </div>
</div>
