<span id="data"
  data-heroes="<%= @heroes.to_json(:methods => :img_path)%>"></span>
<h2>Hero List</h2>
<table class="table table-hover"  ng-init="init()" ng-controller="HeroesCtrl">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>Type</th>
    <th>Base Star</th>
    <th>Position</th>
  </tr>
  <tr ng-repeat="hero in heroes">
    <td>{{ hero.name }}</td>
    <td><img ng-src="{{ hero.img_path }}"/></td>
    <td data-toggle="tooltip" data-placement="top" data-container="body" title="{{ hero.description }}">{{ hero.description | cut:true:50:' ...' }}</td>
    <td>{{ hero.hero_type }}</td>
    <td>{{ hero.base_star }}</td>
    <td>{{ hero.position }}</td>
  </tr>
</table>
