.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.title {
  margin-left: 30px;
}

.toggleMenu {
  color:white;
  font-size: 3.2em;
  padding:5px;
}

.sprite-bor1 {
  background-position: -260px -1337px;
  width: 70px;
  height: 70px;
}

.sprite-bor2 {
  background-position: -157px -1495px;
  width: 70px;
  height: 70px;
}

.sprite-bor3 {
    background-position: -2px -1497px;
    width: 70px;
    height: 70px;
}

.sprite-bor4 {
  background-position: -229px -1553px;
  width: 70px;
  height: 70px;
}

.sprite-bor5 {
    background-position: -74px -1567px;
    width: 70px;
    height: 70px;
}

.sprite-bor6 {
    background-position: -146px -1567px;
    width: 70px;
    height: 70px;
}

.sprite-bor7 {
    background-position: -2px -1569px;
    width: 70px;
    height: 70px;
}
.sprite-bor8 {
    background-position: -218px -1625px;
    width: 70px;
    height: 70px;
}

.sprite-bor9 {
    background-position: -74px -1639px;
    width: 70px;
    height: 70px;
}

.sprite-bor10 {
    background-position: -260px -1409px;
    width: 70px;
    height: 70px;
}

.sprite-bor11 {
    background-position: -85px -1423px;
    width: 70px;
    height: 70px;
}
.sprite-bor12 {
    background-position: -157px -1423px;
    width: 70px;
    height: 70px;
}
.sprite-bor13 {
    background-position: -229px -1481px;
    width: 70px;
    height: 70px;
}

.sprite-bgdsh {
    background-position: -214px -813px;
    width: 120px;
    height: 55px;
}

.star-bar {
    width: 17px;
    height: 16px;
}

.sprite-title8 {
    background-position: -2px -677px;
    width: 276px;
    height: 66px;
}
.hero-content h2.title {
    font-size: 24px;
    font-family: "Eremitage";
    margin-bottom: 25px;
    margin-top: 40px;
    color: #2e1c04;
    text-align: center;
    z-index: 2;
    position: relative;
}
.tgbox {
    padding: 17px 18px;
    border: 1px dashed #af8e61;
}
.hrim {
    padding: 20px 15px;
    position: relative;
    margin-right: 2px;
}
.pull-left {
    float: left !important;
}

.tiengioi {
    margin-left: 30px;
}

.tiengioi .vpham {
    height: 110px;
    width: 174px;
    padding-right: 10px;
    padding-left: 10px;
}
.vp {
    padding: 4px 6px;
    position: relative;
    float: left;
}
.vp .vbor {
    position: absolute;
    top: 4px;
    left: 6px;
}
.divide-item{
  padding: 5px;

}
.divide-item img{
  border: 2px solid;
  border-radius: 10px;
}

.sprite-orange-sm {
    background-position: -208px -1697px;
    width: 60px;
    height: 60px;
    position: absolute;
}
.sprite-white-sm {
    background-position: -2px -1703px;
    width: 60px;
    height: 60px;
    position: absolute;
}
.sprite-green-sm {
    background-position: -2px -1641px;
    width: 60px;
    height: 60px;
    position: absolute;
}
.sprite-blue-sm {
    background-position: -146px -1639px;
    width: 60px;
    height: 60px;
    position: absolute;
}
.sprite-purple-sm {
    background-position: -270px -1697px;
    width: 60px;
    height: 60px;
    position: absolute;
}
.item-list {
  position: relative;
}
.vpds{
  padding: 10px;
}
.table-item-list td {
  vertical-align: middle !important;
}
.table-item-list .background-1 {
  background-color: white;
}
.table-item-list .background-2 {
  background-color: green;
}
.table-item-list .background-3 {
  background-color: blue;
}
.table-item-list .background-4 {
  background-color: purple;
}
.table-item-list .background-5 {
  background-color: orange;
}
.image_picker_selector {
  display: none;
  margin-left: 30px !important;
}
.image_picker_selector li{
  cursor: pointer;
}
.select-img-box {
  overflow-x: scroll;
  max-height: 330px;
}
