<div class="col-md-3" id="navigation">
  <ul class="nav nav-stacked">
    <li>
      <%= link_to '<i class="glyphicon glyphicon-flash"></i><span class="text"> ヒーロー管理</span>'.html_safe, heroes_path %>
    </li>
    <li>
      <%= link_to '<i class="glyphicon glyphicon-list-alt"></i><span class="text"> アイテム管理</span>'.html_safe, items_path %>
    </li>
    <li>
      <%= link_to '<i class="glyphicon glyphicon-th"></i><span class="text"> ブログ管理</span>'.html_safe, blogs_path %>
    </li>
  </ul>
  <hr>
</div>
