<div class="col-md-3" id="navigation">
  <ul class="nav nav-stacked">
    <li>
    <%= link_to '<i class="glyphicon glyphicon-flash "></i><span class="text">Heroes</span>'.html_safe, heroes_path %>
    </li>
    <li>
    <%= link_to '<i class="glyphicon glyphicon-link "></i><span class="text">Heroes Divide</span>'.html_safe, rel_hero_divides_path %>
    </li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-list-alt"></i><span class="text"> Reports</span></a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-book"></i><span class="text"> Books</span></a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-briefcase"></i><span class="text"> Tools</span></a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-time"></i><span class="text"> Real-time</span></a></li>
    <li><a href="javascript:;"><i class="glyphicon glyphicon-plus"></i><span class="text"> Advanced..</span></a></li>
  </ul>
  
  <hr>
</div>